.list {
    background-color: var(--main-container-color); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.list-table caption{
    padding-bottom: 20px;
}

.list-table th, .list-table td {
    padding: 10px;
    border-bottom: 2px solid var(--second-container-color);
    text-align: center;
}

.list-table tbody tr:hover {
    background-color: var(--second-container-color);    
}

.list-selected{
    background-color: var(--second-container-color);
}

.list-selected button{
    background-color: var(--second-container-color);
}

.list-editor{
    display: flex;
    flex-direction: column;
}

.list-editor div{
    display: flex;
    flex-direction:row;
    align-items: stretch;
    border: 2px solid white;
    background-color: var(--second-container-color);
}

.list-editor div * {
    flex: 1;
    margin: 10px;
}