:root{
    --main-container-color: #EDF4F8;
    --main-transparent-container-color: #edf4f8ce;
    --second-container-color: #CCE2EB;
    --main-text-color: #070F12;
    --second-text-color: #EDF4F8;
}

*{
    font-family: sans-serif;
}

html{
    margin:0;
    padding:0;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: scroll;
}

h1{
    font-size: 2.5rem;
}

p {
  line-height: 1.5em;
  text-align: justify;
  letter-spacing: 0.10em;
  font-size: 1.125rem;
}


li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}